<div class="popup__type popup__type--active">
    <div class="popup__type-inner">
        <header class="popup__type-header">
            <h4>Basic Blocks</h4>
        </header>
        <main class="type__blocks">
            <a href="#" class="type__item">
                <span class="type__item-icon">
                    <img src="assets/images/textBlock.png" alt="icon" class="type__img">
                </span>
                <span class="type__item-name">
                    Text
                </span>
            </a>

            <a href="#" class="type__item">
                <span class="type__item-icon">
                    <img src="assets/images/pageBlock.png" alt="icon" class="type__img">
                </span>
                <span class="type__item-name">
                    Page
                </span>
            </a>

            <a href="#" class="type__item">
                <span class="type__item-icon">
                    <img src="assets/images/imageBlock.png" alt="icon" class="type__img">
                </span>
                <span class="type__item-name">
                    Image
                </span>
            </a>

            <a href="#" class="type__item">
                <span class="type__item-icon">
                    <img src="assets/images/videoBlock.png" alt="icon" class="type__img">
                </span>
                <span class="type__item-name">
                    Video
                </span>
            </a>
        </main>
    </div>
</div>